html {
   width: 100%;
   height: 100%;
}

body {
    background-image: url('background.jpg');
    background-size: cover; /* Adjusts the image size */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    background-position: top;
    margin: 0;
    font-family: Arial, sans-serif;
    text-align: center;
    overflow:hidden; 
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
}

@keyframes adjustBackdropDark {
    from {
        background-color: rgba(0, 0, 0, 0.5);
    }
    to {
        background-color: rgba(0, 0, 0, 0.75);
    }
}
@keyframes adjustBackdropLight {
    from {
        background-color: rgba(0, 0, 0, 0.75);
    }
    to {
        background-color: rgba(0, 0, 0, 0.5);
    }
}

body.dark::before {
    animation: adjustBackdropDark 0.5s forwards ease-in-out;
}
body.light::before {
    animation: adjustBackdropLight 0.5s forwards ease-in-out;
}

.navbar {
    background-color: transparent;
    padding: 15px 0;
    position: fixed;
    width: 100%;
    z-index: 1;
}

.navbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

.navbar ul li {
    margin: 0 15px;
}

.navbar ul li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    padding: 10px;
    text-shadow: 2px 2px #00000020;
}

.navbar ul li a:hover {
    background-color: transparent;
    color: rgb(211, 211, 211);
    box-shadow: solid;
    cursor: pointer;
}

.main-content
{
   position: absolute;
   width: 100%;
   height: 100%;
}


.signature {
    width: 75vw;
    position: fixed;
}

.signature.signature-corner {
    width: 175px !important;
    margin-top: 0px !important;
    margin-left: 4px !important;
}

.signature img {
    filter: invert(100%);
}

.dark .signature {
    animation: signatureTopLeft 0.5s forwards ease-in-out;
}

.light .signature {
    animation: signatureLarge 0.5s forwards ease-in-out;
}



.sub-title {
    color: white;
    font-size: 3vw;
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
}

@keyframes hideSubTitle {
    from {
       font-size: 3vw;
    }
    to {
       font-size: 0;
       display: none;
    }
}

@keyframes showSubTitle {
    from {
        font-size: 0;
        display: none;
    }
    to {
        font-size: 3vw;
    }
}

.sub-title.sub-title-hide {
    animation: hideSubTitle 0.5s forwards ease-in-out;
}

.sub-title.sub-title-show {
    animation: showSubTitle 0.5s forwards ease-in-out;
}

@media (min-width: 1000px) {
    .signature {
        margin-left: 2.8%;
        margin-top: 3%;
    }

    @keyframes signatureTopLeft {
        from {
           width: 75vw;
           margin-left: 2.8%;
           margin-top: 3%;
        }
        to {
           width: 175px;
           margin-top: 0px;
           margin-left: 4px;
        }
    }
    
    @keyframes signatureLarge {
        from {
           width: 175px;
           margin-top: 0px;
           margin-left: 4px;
        }
        to {
           width: 75vw;
           margin-left: 2.8%;
           margin-top: 3%;
        }
    }
}

@media (max-width: 1000px) or ((max-width: 1000px) and (-webkit-min-device-pixel-ratio: 2)) {
    body {
        font-size: 1.5rem;
    }
    .signature {
       margin-top: calc(10vh + 34px);
       margin-left: 12.5vw;
    }

    @keyframes signatureTopLeft {
        from {
           width: 75vw;
           margin-top: calc(10vh + 34px);
           margin-left: 12.5vw;
        }
        to {
           width: 175px;
           margin-top: 0px;
           margin-left: 4px;
        }
    }
    
    @keyframes signatureLarge {
        from {
           width: 175px;
           margin-top: 0px;
           margin-left: 4px;
        }
        to {
           width: 75vw;
           margin-top: calc(10vh + 34px);
           margin-left: 12.5vw;
        }
    }
}


.info-box {
   width: calc(100% - 0px);
   height: calc(100% - 56px);
   margin: 56px 0px 0px 0px;
   overflow-y: auto;
   font-size: 1em;
}

@keyframes hideShow {
    from {
       display: none;       
       background: transparent;
    }
    to {
        background: rgba(0, 0, 0, 0);
    }
}

@keyframes showHide {
    from {
       background: rgba(0, 0, 0, 0);
    }
    to {
       background: transparent;
       display: none;
    }
}

.hide {
   display: none;
}

.fadeHide {
   animation: showHide 0.5s forwards ease-in-out;
}

.fadeShow {
   animation: hideShow 0.5s forwards ease-in-out;
}

.container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
    line-height: 1.6;
    text-align: center;
    color: white;
}
.profile-pic {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border: 3px solid #ccc;
    margin-bottom: 20px;
}
.container h1 {
    margin-bottom: 10px;
}
.personal {
    margin-top: 20px;
    font-style: italic;
}

h1, h2 {
    text-align: center;
}
.section {
    margin-bottom: 30px;
    border-top: 3px solid #666;
    padding-top: 20px;
}
.job-title {
    font-weight: bold;
    font-size: 1.2em;
    margin-top: 10px;
    border-top: 1px solid #66666630;
    padding-top: 20px;
}
.job-date {
    font-style: italic;
    color: #ffffff;
}
ul {
    padding-left: 20px;
}
.contact-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: end;
}
.form-group {
    display: flex;
    gap: 20px;
    width: 100%;
}
.label {
    font-weight: bold;
    width: 110px; /* Adjust for label size */
    text-align: right;
}
.input-field {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}
.textarea-field {
    width: 100%;
    height: 150px;
    resize: none;
}
.submit-btn {
    padding: 12px;
    background: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 18px;
    border-radius: 5px;
    width: calc(100% - 130px);
}
.submit-btn:hover {
    background: #0056b3;
}
.or-line {
    line-height: 0px;
    margin: 30px 0;
    display: flex;
    width: 100%;
}
.or-line > div {
    width:  10%
}
.or-line > hr {
    width: 45%;
    margin: 0;
    border-color:#666;
}
.contact-info {
    align-items: center;
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 10px;
}
.contact-info i {
    font-size: 1.5em;
}
.contact-info a {
    color: white;
}